{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}

<body>
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {% include 'nav.html'%}
    <!-- Navbar End -->

    <div class="container-fluid page-header mb-5 wow fadeIn" data-wow-delay="0.1s">
        <div class="container text-center">
            <h1 class="display-4 text-white animated slideInDown mb-4">About Us</h1>
        </div>
    </div>
 


    <div class="container-xxl">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex">
                    &copy; <a href="#">InZtock</a>, All Right Reserved.
                </div>

            </div>

        </div>

    </div>


    <!-- About End -->

    {% include 'scripts.html'%}
    {% block footer %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginform").css('visibility', 'hidden').css('display', 'none');


        });

        function formsclick(id) {
            if (id == 1) {
                $("#loginform").css('visibility', 'hidden').css('display', 'none');
                $("#signupform").css('display', 'block');
            } else {
                $("#signupform").css('display', 'none');
                $("#loginform").css('display', 'block');
            };
        };


    </script>
    {% endblock %}

</body>

</html>