{% load static %}
<!DOCTYPE html>
<html lang="en">

{% include 'header.html'%}

<body class="bg-grey">
    <!-- Spinner Start -->
    <div id="spinner"
        class="show bg-white position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
        <div class="spinner-grow text-primary" role="status"></div>
    </div>
    <!-- Spinner End -->


    <!-- Navbar Start -->
    {% include 'nav.html'%}
    <!-- Navbar End -->

    <!-- Carousel Start -->
    <div class="container-fluid p-0">
        <div id="header-carousel" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img class="w-100" src="{% static 'img/fe5294156180101.63627ab3318de.jpg' %}" alt="Image">
                    <div class="carousel-caption">
                        <div class="container-xxl py-5">
                            <div class="container">
                                <div class="row">
                                    <div class="container-md">
                                        <div class="row g-5">
                                            <div class="container col-lg-6 d-flex justify-content-center"></div>
                                            <div class="loginform col-lg-6 d-flex justify-content-start">
                                                

                                                    <div class="row">
                                                        <div class="col-lg-6  btn btn-primary " onclick="formsclick(1)">
                                                            SignUp</div>
                                                        <div class="col-lg-6  btn btn-primary" onclick="formsclick(2)">
                                                            Login</div>
                                                    </div>


                                                        <div id="signupform" style="display:block;"
                                                            class=" wow fadeIn  d-flex justify-content-center"
                                                            data-wow-delay="0.1s">

                                                            <form>
                                                                <div class="row g-3 "
                                                                    style="padding: 10px;margin: 10px;">
                                                                    <div class="col-md-6">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                id="name" placeholder="Your Name">
                                                                            <label for="name">Your Name</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-md-6">
                                                                        <div class="form-floating">
                                                                            <input type="email" class="form-control"
                                                                                id="email" placeholder="Your Email">
                                                                            <label for="email">Company Name</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                id="subject" placeholder="Subject">
                                                                            <label for="subject">Email</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                id="subject" placeholder="Subject">
                                                                            <label for="subject">Phone Number</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating">
                                                                            <input type="text" class="form-control"
                                                                                id="subject" placeholder="Subject">
                                                                            <label for="subject">Your Title</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <div class="form-floating">
                                                                            <textarea class="form-control"
                                                                                placeholder="Leave a message here"
                                                                                id="message"
                                                                                style="height: 100px"></textarea>
                                                                            <label for="message">Full Address</label>
                                                                        </div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <label for="formFile" style="color: white;"
                                                                            class="form-label text-primary">Reference
                                                                            File</label>
                                                                        <input class="form-control" type="file"
                                                                            id="formFile">
                                                                        <div class="text-info">Allowed file format -
                                                                            CSV, Max
                                                                            Upload Size: 10mb</div>
                                                                    </div>
                                                                    <div class="col-12">
                                                                        <button class="btn btn-primary py-2 px-3 me-3">
                                                                            Sign-Up
                                                                            <div
                                                                                class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                                                                <i class="fa fa-arrow-right"></i>
                                                                            </div>
                                                                        </button>
                                                                    </div>
                                                                </div>
                                                            </form>
                                                        </div>


                                                
                                                <!-- <div id="loginform" style="display:none;" class="  wow fadeIn  d-flex justify-content-center"
                                                    data-wow-delay="0.1s">

                                                    <form>
                                                        <div class="row g-3 " style="padding: 10px;margin: 10px;">
                                                            
                                                            <div class="col-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control" id="subject"
                                                                        placeholder="Subject">
                                                                    <label for="subject">Username</label>
                                                                </div>
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-floating">
                                                                    <input type="text" class="form-control" id="subject"
                                                                        placeholder="Subject">
                                                                    <label for="subject">Password</label>
                                                                </div>
                                                            </div>
                                                            
                                                            <div class="col-12">
                                                                <button class="btn btn-primary py-2 px-3 me-3">
                                                                    Sign-Up
                                                                    <div
                                                                        class="d-inline-flex btn-sm-square bg-white text-primary rounded-circle ms-2">
                                                                        <i class="fa fa-arrow-right"></i>
                                                                    </div>
                                                                </button>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div> -->





                                            </div>


                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>

        </div>
    </div>
    <!-- Carousel End -->



    <div class="container-xxl">
        <div class="container-fluid">
            <div class="row">
                <div class="d-flex">
                    &copy; <a href="#">InZtock</a>, All Right Reserved.
                </div>

            </div>

        </div>

    </div>


    <!-- About End -->

    {% include 'scripts.html'%}
    {% block footer %}
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script>
        $(document).ready(function () {
            $("#loginform").css('visibility', 'hidden').css('display', 'none');


        });

        function formsclick(id) {
            if (id == 1) {
                $("#loginform").css('visibility', 'hidden').css('display', 'none');
                $("#signupform").css('display', 'block');
            } else {
                $("#signupform").css('display', 'none');
                $("#loginform").css('display', 'block');
            };
        };


    </script>
    {% endblock %}

</body>

</html>